.pageBody {
    text-align: center;
}
.textPicture {
    width: 90%;
    height: 90%;
}
.page-wrapper {
    height: 100%;
}
.stretch-tabs {
    height: 100%;
}
.contact-card {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}
