<div>
    <nav class="navbar navbar-custom navbar-static-top">
        <div class="navbar-top-line"></div>
        <div class="container">
            <ul class="nav nav-tabs">
                <li role="presentation" ui-sref-active="active">
                    <a ui-sref=".who" class="navTab">מי אנחנו</a>
                </li>
                <li role="presentation" ui-sref-active="active">
                    <a ui-sref=".jobs" class="navTab">העבודות שעשינו</a>
                </li>
                <li role="presentation" ui-sref-active="active">
                    <a ui-sref=".volunteers" class="navTab">המתנדבים שלנו</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="pageBody" ui-view></div>

</div>
