<md-content>

    <div class="organization-info"
         layout="row"
         layout-align="center none"
         layout-padding
         layout-wrap
         layout-fill
         ng-cloak>

        <div class="md-whiteframe-5dp info-card white-background"
                       layout="column" layout-gt-sm="row" ng-repeat="ad in ads"
                       flex-gt-sm="40"
                       flex="100">

            <div layout="column" class="org-ads">
                <md-content>
                    <H1 dir="rtl" lang="he">{{ad.title}}</H1>
                    <H3 dir="rtl" lang="he">{{ad.content}}</H3>
                </md-content>
            </div>

        </div>
    </div>
</md-content>
