<md-content>
    <div class="home-background" layout="column" layout-padding layout-wrap layout-fill ng-cloak
         style="max-width: 1050px">
        <md-whiteframe class="md-whiteframe-8dp sta white-background" layout ng-repeat="ad in ads">

            <div layout="column" layout-align="start start" class="org-ads">
                <md-content>
                    <H1 dir="rtl" lang="he">{{ad.header}}</H1>
                    <H3 dir="rtl" lang="he">{{ad.text}}</H3>
                </md-content>
            </div>

        </md-whiteframe>
    </div>
</md-content>
