<md-content>

    <div class="organization-statistics" layout="row" layout-align="space-around center" layout-padding layout-wrap   ng-cloak style="max-width: 1050px">

        <div class="md-whiteframe-3dp sta" layout layout-align="center center">
            <div layout="column" layout-align="center center">
                <H1>{{ statistics.renovations }}</H1>
                <H1> שיפוצים</H1>
            </div>
        </div>

        <div class="md-whiteframe-3dp sta" layout layout-align="center center">
            <div layout="column" layout-align="center center">
                <H1>{{ statistics.volunteers }}</H1>
                <H1> מתנדבים</H1>
            </div>
        </div>

        <div class="md-whiteframe-3dp sta" layout layout-align="center center">
            <div layout="column" layout-align="center center">
                <H1>{{ statistics.work_hours }}</H1>
                <H1>שעות התנדבות</H1>
            </div>
        </div>

        <div class="md-whiteframe-3dp sta" layout layout-align="center center">
            <div layout="column" layout-align="center center">
                <H1>{{ statistics.donations }} $</H1>
                <H1> תרומות</H1>
            </div>
        </div>
    </div>


</md-content>
