<div layout="column" layout-align="none none" layout-gt-xs="row" layout-align-gt-xs="space-around center" class="organization-team-content">

    <div class="team-member" layout="column" layout-align="center center">
        <img class="team-avatar" md-whiteframe="2" ng-src="\assets\img\default-avatar.png">
        <h2>Name</h2>
        <h4>Role</h4>
    </div>

    <div class="team-member" layout="column" layout-align="center center">
        <img class="team-avatar" md-whiteframe="2" ng-src="\assets\img\default-avatar.png">
        <h2>Name</h2>
        <h4>Role</h4>
    </div>

    <div class="team-member" layout="column" layout-align="center center">
        <img class="team-avatar" md-whiteframe="2" ng-src="\assets\img\default-avatar.png">
        <h2>Name</h2>
        <h4>Role</h4>
    </div>

    <div class="team-member" layout="column" layout-align="center center">
        <img class="team-avatar" md-whiteframe="2" ng-src="\assets\img\default-avatar.png">
        <h2>Name</h2>
        <h4>Role</h4>
    </div>

</div>
