<div layout="column" layout-align="none none" layout-gt-xs="row" layout-align-gt-xs="space-around center" class="organization-team-content">

    <div class="team-member" layout="column" layout-align="center center">
        <img class="team-avatar" md-whiteframe="2" ng-src="\assets\img\home\team\yair.jpg">
        <h2>יאיר מאיר</h2>
        <h4>יו"ר ומנהל העמותה</h4>
    </div>

    <div class="team-member" layout="column" layout-align="center center">
        <img class="team-avatar" md-whiteframe="2" ng-src="\assets\img\home\team\david.jpg">
        <h2>דוד מוזס</h2>
        <h4>מייסד ומנהל</h4>
    </div>

    <div class="team-member" layout="column" layout-align="center center">
        <img class="team-avatar" md-whiteframe="2" ng-src="\assets\img\home\team\ronan.jpg">
        <h2>רונן איזיק</h2>
        <h4>רכז מיחשוב ומדיה חברתית</h4>
    </div>

</div>
