<md-content class="home-background">

    <h1 class="home-background"></h1>

    <div layout="row" layout-align="space-around center" class="home-background">

        <md-list-item>
            <div class="home-background" layout="column" layout-align="center center">
                <img class="team-avatar" ng-src="\assets\img\default-avatar.png">
                <h2>Name</h2>
                <h4>Role</h4>
            </div>
        </md-list-item>
        <md-list-item>
            <div layout="column" layout-align="center center">
                <img class="team-avatar" ng-src="\assets\img\default-avatar.png">
                <h2>Name</h2>
                <h4>Role</h4>
            </div>
        </md-list-item>
        <md-list-item>
            <div layout="column" layout-align="center center">
                <img class="team-avatar" ng-src="\assets\img\default-avatar.png">
                <h2>Name</h2>
                <h4>Role</h4>
            </div>
        </md-list-item>
        <md-list-item>
            <div layout="column" layout-align="center center">
                <img class="team-avatar" ng-src="\assets\img\default-avatar.png">
                <h2>Name</h2>
                <h4>Role</h4>
            </div>
        </md-list-item>


    </div>


</md-content>

