<md-dialog aria-label="Edit Team Dialog" flex="50">
    <md-toolbar dir="rtl">
        <div class="md-toolbar-tools">
            <h2>עריכת צוות</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-content class="rtl" layout="row" layout-padding>

            </md-content>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout-align="start">

    </md-dialog-actions>
</md-dialog>