<md-dialog aria-label="FinalizeRenovation Dialog" flex="50">
    <form name="FinalizeRenovationForm" ng-submit="submit()" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools" dir="rtl">
                <h2 translate="{{'PICKUP_TEAM_AND_TIME'}}"></h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h3 translate>FINALIZE_RENOVATION_MESSAGE</h3>
                <!-- Input Title -->
                <md-input-container class="md-block md-icon-float rtl">
                    <label translate>CHOSE_TEAM</label>
                    <md-icon class="material-icons">title</md-icon>
                    <md-select ng-model="renovation.team">
                        <md-option ng-repeat="team in allTeams" ng-value="team">
                            {{team.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <label translate>CHOSE_DATE</label>
                    <md-datepicker ng-model="date" md-min-date="minDate"></md-datepicker>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="cancel()" class="md-warn">ביטול</md-button>
            <md-button type="submit" class="md-primary">אישור</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
