<md-dialog aria-label="Signup Details Dialog" flex="40" flex-gt-md="30">
    <md-toolbar dir="rtl">
        <div class="md-toolbar-tools">
            <h2 translate="{{'USER_DETAILS'}}">פרטי משתמש</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="signup-info rtl" layout="row" layout-padding>
                <user-details user="user" layout="column"></user-details>
                <!-- Role -->
                <div class="signup-role" layout="row" flex>
                    <md-input-container class="md-block rtl" flex>
                        <label translate="{{'JOB'}}">תפקיד</label>
                        <md-select name="role" ng-model="selectedRole" required>
                            <md-option ng-value="role" ng-repeat="role in roles">
                                {{ role | translateRole }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="signup-actions" layout-align="start">
        <md-button class="md-warn" ng-click="cancel()">
            <span translate="{{'CANCEL'}}"></span>

        </md-button>
        <span flex></span>
        <md-button class="md-warn md-raised" ng-click="submit(false)">
            <span translate="{{'DELETE_USER'}}"></span>

        </md-button>
        <md-button class="md-raised approve-btn" ng-click="submit(true)">
            <span translate="{{'APPROVE_USER'}}"></span>
        </md-button>
    </md-dialog-actions>
</md-dialog>