<md-dialog aria-label="User Details Dialog" flex="25">
    <md-toolbar dir="rtl">
        <div class="md-toolbar-tools">
            <h2>פרטי משתמש</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-content class="user-info rtl" layout="row" layout-padding>
                <div layout="column" class="user-info-main">
                    <div class="title">שם: {{ user.name }}</div>
                    <div class="">אימייל: {{ user.email }}</div>
                    <div>מס' טלפון: {{ user.phone }}</div>
                    <div>תאריך הרשמה: {{ user.signupDate }}</div>
                </div>
            </md-content>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="user-actions" layout-align="start">
        <md-button class="md-warn" ng-click="cancel()">
            ביטול
        </md-button>
        <span flex></span>
        <md-button class="md-warn md-raised" ng-click="submit(false)">
            מחק משתמש
        </md-button>
        <md-button class="md-raised approve-btn" ng-click="submit(true)">
            אשר משתמש
        </md-button>
    </md-dialog-actions>
</md-dialog>