<md-dialog aria-label="User Details Dialog" flex="25">
    <md-toolbar dir="rtl">
        <div class="md-toolbar-tools">
            <h2>פרטי משתמש</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">

        </div>
    </md-dialog-content>
    <md-dialog-actions layout-align="start">
        <md-button ng-click="cancel()" class="md-warn">ביטול</md-button>
        <md-button ng-click="" class="md-primary">אישור</md-button>
    </md-dialog-actions>
</md-dialog>