/*:root {*/
    /*--dot-size: 30px;*/
    /*--dot-meargin: 20px;*/
    /*--nav-buttom: 30px;*/
    /*--dot-border: 1px;*/
    /*--background-color: #C3DCF0;*/
/*}*/

.org-ads{
    padding: 24px;
}

.text-large{
    text-size: 450%;
}

.team-avatar{
    border-radius: 150px;
    width: 150px;
    height: 150px;
    min-width: 150px;
    max-width: 150px;
    background-size: 280px;
    background-position: right;
}

/*.home-background{*/
    /*background-color: var(--background-color);*/
/*}*/
.white-background{
    background-color: white;
}

.stat {
    background-color: white;
    /*padding: 8px;*/
    padding: 5px 15px;
    margin: 8px;
}

.info-card {
    background-color: white;
    padding: 8px;
    margin: 8px;
}

.grid-list {

}

.grid-tile {
    transition: all 400ms ease-out 50ms;
    margin: 8px;
}

.image-container {
    display: inline-block;
    position: relative;
}

.image-progress{
    right: 50px;
    top: 50px;
}


.delete-button {
    position: absolute;
    right: 10px;
    top: 10px;
}
.delete-button-ads {
    position: absolute;
    left: 0;
    top: 0;
}

.edit-button-ads {
    position: absolute;
    left: 50px;
    top: 0;
}

.edit-button-ads.md-button.md-fab md-icon,
.delete-button-ads.md-button.md-fab md-icon {
    color: white;
}

.home-photo-slider{
    /*width: inherit;*/
    /*height: inherit;*/

}

.slider {
    /*width: 80%;*/
    width: 40%;
    /*height: 600px;*/
    /*height: 70vw;*/
    height: 35vh;
    max-height: 600px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 20px solid #FFF;
    margin: 20px auto;
    /*display: flex;*/
    /*justify-content: center;*/
}


@media only screen and (max-width: 960px) {
    .slider {
        width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    .slider {
        border: 10px solid white;
        width: 95%;
        height: 25vh;
        max-width: 100%;
    }
}

.slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /*max-height: 600px;*/
    /*max-width: 100%;*/
    max-height: 100%;
    max-width: 100%;
}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    /*top: 50%;*/
    /*margin-top: -35px;*/
    top: 0;
    bottom: 0;
    margin: auto;
    width: 36px;
    height: 100px;
    outline: none;
    cursor: pointer;
    background: url(/assets/img/home/blank.gif) no-repeat;
    background-position-y: 15px;
}

.arrow.prev {
    opacity: 0.2;
    left: 20px;
    background-image: url(/assets/img/home/paddle_prev_999.png);
    background-color: rgba(0, 0, 0, 0.35);
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.2;
    right: 20px;
    background-image: url(/assets/img/home/paddle_next_999.png);
    background-color: rgba(0, 0, 0, 0.35);
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    background-image: url(/assets/img/home/paddle_prev_fff.png);
}

.arrow.next:hover {
    opacity: 1;
    background-image: url(/assets/img/home/paddle_next_fff.png);
}

/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: 30px;
    right: 0;
    height: 48px;
}

.nonDraggableImage {
    -webkit-user-drag: none;
}

.nav .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.nav ul {
    margin: 0;
    width: 100%;
    padding-left: 0px;
}

.nav .dot, .nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    /*margin: 10px var(--dot-meargin);*/
    margin: 5px 15px;
    width: 12px;
    height: 12px;
}

.dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    /*width: var(--dot-size);*/
    /*height: var(--dot-size);*/
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    /*background: #FFF;*/
    /*border: var(--dot-border) solid black;*/
    outline: none;
    box-shadow: none;
    /*border-radius: 50%;*/
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    /*border-color: black;*/
    /*background-color: transparent;*/
}


/****************************/
/***** Slider Dot Style *****/
/****************************/
.dots .dot .outer {
    height: 20px;
    width: 20px;
    /*display: block;*/
    /*float: left;*/
    margin: 10px 9px 10px 10px;
    border: 3px solid #3F51B5;
    border-radius: 50%;
    background-color: #fff;
}

.dots .dot .outer.active {
    border: 3px solid #f08b3b;
}

.dots .dot .outer .inner {
    transition: all 0.25s ease-in-out;
    height: 16px;
    width: 16px;
    transform: scale(0);
    display: block;
    margin: 2px;
    border-radius: 50%;
    background-color: #f08b3b;
    opacity: 0;
}

.dots .dot .outer.active .inner {
    transform: scale(1);
    opacity: 1;
}

/** Hover Effect **/
.dots .dot:hover .outer .inner {
    transform: scale(0.7);
    opacity: .5;
}

.dots .dot:hover .outer.active .inner {
    transform: scale(1);
    opacity: 1;
}

/******************************/
/***** Home Page Redesign *****/
/******************************/

.homepage-wrapper {
    background-color: #C3DCF0;

}

.homepage-wrapper .homepage-content {
    background-color: #ededed;
}

.homepage-wrapper .homepage-content .donate-info {
    border: 32px solid white;
    text-align: center;
    background-color: white;
    width: 100%;
}

.homepage-wrapper .homepage-content .homepage-banner {
    width: 60%;
}

.homepage-wrapper .homepage-footer {
    background: white;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.homepage-wrapper .homepage-content .organization-info,
.homepage-wrapper .homepage-content .organization-statistics {
    background-color: #ededed;
}

.homepage-wrapper .homepage-content .organization-team-wrapper {
    /*background-color: white;*/
    width: 100%;
}

.homepage-wrapper .homepage-content .organization-team-content {
    padding: 15px;
}

.homepage-wrapper .homepage-content .team-member {
    margin: 0 5px;
}

/* Medium Screens */
@media only screen and (max-width: 960px) {
    .homepage-wrapper .homepage-content .homepage-banner {
        width: 80%;
    }
}

/* Small Screens */
@media only screen and (max-width: 600px) {
    .homepage-wrapper .homepage-content .homepage-banner {
        width: 100%;
    }
}