
.member_list{
    padding-top: 42px;
    height: inherit;
    padding-bottom: 42px;
}
.member_list_content{
    height: inherit;
}

.chat_input{
    /*height: 300px;*/
    padding-bottom:  10px;
}
.send_btn{
    /*height: 150px;*/
    /*width: 100px;*/
}
.chat{
    padding-top: 42px;
    height: inherit;
}
.messages{
    height: inherit;
    padding-bottom: 150px;
}
.messages_a{
    height: inherit;
}
/*.chat_input md-grid-tile-footer{*/
    /*background: rebeccapurple;*/
    /*height: 50px;*/
    /*width: inherit;*/
/*}*/


.gridListdemoBasicUsage md-grid-list {
    margin: 8px;

}

.gridListdemoBasicUsage .information {
    background: #f5f5f5;
}

.gridListdemoBasicUsage .members {
    background: #f5f5f5;
}

.gridListdemoBasicUsage .yellow {
    background: #ffff8d;
}

.gridListdemoBasicUsage .blue {
    background: #84ffff;
}

.gridListdemoBasicUsage .purple {
    background: #b388ff;
}

.gridListdemoBasicUsage .chat {
    background: #f5f5f5;
}

.gridListdemoBasicUsage md-grid-tile {
    transition: all 400ms ease-out 50ms;
}