<div>
    <md-sidenav md-component-id="left" class="md-sidenav-left dashboard-sidenav" md-is-locked-open="true">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>עמודי מנהל</span>
                <span flex></span>
            </div>
        </md-toolbar>
        <div layout="column" layout-align="center center">
            <table style="width:100%">
                <tr>
                    <md-button class="sidenav-btn" ui-sref="dashboard.statistics" layout="row" layout-align="center center"><i class="material-icons">equalizer</i><span flex></span> סטטיסטיקות  </md-button>
                </tr>
                <tr>
                    <md-button class="sidenav-btn" ui-sref="dashboard.all-teams" layout="row" layout-align="center center"><i class="material-icons">recent_actors</i><span flex></span> צוותים </md-button>
                </tr>
                <tr>
                    <md-button class="sidenav-btn" ui-sref="dashboard.renovations-ref" layout="row" layout-align="center center"><i class="material-icons">format_paint</i><span flex></span> הפניות לשיפוץ </md-button>
                </tr>
                <tr>
                    <md-button class="sidenav-btn" ui-sref="dashboard.store-supporters" layout="row" layout-align="center center"><i class="material-icons">local_shipping</i><span flex></span> בתי עסק </md-button>
                </tr>
                <tr>
                    <md-button class="sidenav-btn" ui-sref="dashboard.join-requests" layout="row" layout-align="center center"><i class="material-icons">person_add</i><span flex></span> בקשות הצטרפות </md-button>
                </tr>
            </table>
        </div>
    </md-sidenav>
</div>
