<md-content class="offwhite-background" layout-padding layout="column" layout-align="center center">

    <div layout="column" layout-gt-sm="row" class="rtl profile-page-wrapper" ng-show="isLoggedIn" flex>

        <!-- Side Nav -->
        <div class="profile-side-nav" flex="25">
            <md-card md-whiteframe="2" class="rounded-top">
                <md-toolbar layout="row" class="md-hue-3 rounded-toolbar">
                    <div class="md-toolbar-tools white rtl">
                        <span>הגדרות אישיות</span>
                    </div>
                </md-toolbar>
                <md-content>
                    <md-list flex class="rtl">
                        <md-list-item ng-click="showProfile()">
                            <h3>פרופיל</h3>
                        </md-list-item>
                        <md-list-item class="md-3-line" ng-click="showAccount()">
                            <h3>חשבון</h3>
                        </md-list-item>
                        <!--<md-list-item class="md-3-line" ng-click="showEmails()">-->
                        <!--<h3>אימייל</h3>-->
                        <!--</md-list-item>-->
                    </md-list>
                </md-content>
            </md-card>
        </div>

        <!-- Profile -->
        <div ng-show="sProfiel" class="profile-main" flex="75">
            <md-card class="rounded-top" md-whiteframe="2">
                <md-toolbar layout="row" class="md-hue-3 rounded-toolbar">
                    <div class="md-toolbar-tools white rtl">
                        <span>פרופיל אישי</span>
                    </div>
                </md-toolbar>
                <md-divider></md-divider>
                <md-card-content class="rtl">
                    <div layout="column" layout-gt-xs="row">
                        <profile-picture></profile-picture>

                        <div>
                            <md-card-content>
                                <md-divider></md-divider>
                                <h2>שם</h2>
                                <h3>{{profile.name}}</h3>
                                <md-divider></md-divider>
                                <h2>אימייל</h2>
                                <h3>{{profile.email}}</h3>
                                <md-divider></md-divider>
                                <h2>תפקיד</h2>
                                <h3>{{profile.role}}</h3>
                                <md-divider></md-divider>
                                <h2>מספר פלאפון</h2>
                                <h3>{{profile.phone}}</h3>
                                <md-divider></md-divider>
                            </md-card-content>
                        </div>
                    </div>
                </md-card-content>

            </md-card>
        </div>

        <!-- Account Settings -->
        <div ng-show="sAccount" class="profile-main rtl" flex="75">
            <md-card class="rounded-top">
                <md-toolbar layout="row" class="md-hue-3 rounded-toolbar">
                    <div class="md-toolbar-tools white">
                        <span>שינוי סיסמא</span>
                    </div>
                </md-toolbar>
                <md-divider></md-divider>
                <md-card-content>
                    <md-button ng-click="changePassword($event)" class="md-warn">שנה סיסמה</md-button>

                </md-card-content>
                <md-toolbar layout="row" class="md-hue-3">
                    <div class="md-toolbar-tools white rtl">
                        <span>עידכון אימייל</span>
                    </div>
                </md-toolbar>
                <md-divider></md-divider>
                <md-card-content>
                    <form name="ChangeEmailForm"
                          ng-submit="login()" layout="column" novalidate id="ChEmailToastsAnchor">
                        <md-input-container class="md-icon-float md-block rtl">
                            <label>אימייל</label>
                            <input type="text" name="email" ng-model="email" ng-pattern="regexEmail" required/>
                            <md-icon class="material-icons">email</md-icon>
                            <div ng-messages="ChangeEmailForm.email.$error">
                                <div ng-message="required">
                                    שדה חובה
                                </div>
                                <div ng-message="pattern">
                                    אימייל שגוי
                                </div>
                            </div>
                        </md-input-container>

                        <div>
                            <md-button ng-click="changeEmail()" class="md-accent md-raised white">עדכן אימייל</md-button>
                        </div>
                        <br/>
                    </form>

                </md-card-content>
            </md-card>
        </div>

        <!--<div ng-show="sEmails" class="profile-main ראך">-->
            <!--<md-card>-->

                <!--<md-toolbar layout="row" class="md-hue-3">-->
                    <!--<div class="md-toolbar-tools white rtl">-->
                        <!--<span>עידכון אימייל</span>-->
                    <!--</div>-->
                <!--</md-toolbar>-->
                <!--<md-divider></md-divider>-->
                <!--<md-card-content>-->
                    <!--<form name="ChangeEmailForm"-->
                          <!--ng-submit="login()" layout="column" novalidate id="ChEmailToastsAnchor">-->
                        <!--<md-input-container class="md-icon-float md-block rtl">-->
                            <!--<label>אימייל</label>-->
                            <!--<input type="text" name="email" ng-model="email" ng-pattern="regexEmail" required/>-->
                            <!--<md-icon class="material-icons">email</md-icon>-->
                            <!--<div ng-messages="ChangeEmailForm.email.$error">-->
                                <!--<div ng-message="required">-->
                                    <!--שדה חובה-->
                                <!--</div>-->
                                <!--<div ng-message="pattern">-->
                                    <!--אימייל שגוי-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</md-input-container>-->

                        <!--<div>-->
                            <!--<md-button ng-click="changeEmail()" class="md-accent md-raised white">עדכן אימייל</md-button>-->
                        <!--</div>-->
                        <!--<br/>-->
                    <!--</form>-->

                <!--</md-card-content>-->
            <!--</md-card>-->
        <!--</div>-->

    </div>

    <div ng-show="!isLoggedIn">
        You are not logged in!
    </div>
</md-content>
