<header>
    <md-toolbar md-whiteframe="2">
        <div class="md-toolbar-tools">
            <!-- Banner -->
            <a class="toolbar-logo" ui-sref="home"><img src="assets/img/logo.jpg"></a>
            <md-button ui-sref="home">פרויקט ידיים</md-button>
            <span flex></span>
            <!-- Buttons -->
            <md-button ui-sref="login">
                כניסה
            </md-button>
            <md-button ng-click="constructionToast('top right')">
                עלינו
            </md-button>
        </div>
    </md-toolbar>
</header>
