<header>
    <md-toolbar md-whiteframe="2">
        <div class="md-toolbar-tools">
            <!-- Banner -->
            <a class="toolbar-logo" ui-sref="home"><img src="assets/img/logo.jpg"></a>
            <md-button ui-sref="home">פרויקט ידיים</md-button>
            <md-button ui-sref="status">Status</md-button>
            <span flex></span>
            <!-- Buttons -->
            <md-button ui-sref="signup" ng-hide="isLoggedIn">
                הרשמה
            </md-button>
            <md-button ui-sref="login" ng-hide="isLoggedIn">
                כניסה
            </md-button>
            <md-button aria-label="user profile" ui-sref="profile" ng-show="isLoggedIn">
                {{ user.name }}
            </md-button>
            <md-button class="remove-uppercase" ui-sref="dashboard" ui-sref-active="md-primary md-raised" ng-show="isLoggedIn">
                Dashboard
            </md-button>
            <md-button ng-click="logout()" ng-show="isLoggedIn">
                יציאה
            </md-button>
            <md-button ng-click="constructionToast('top right')">
                עלינו
            </md-button>
        </div>
    </md-toolbar>
</header>
