<div class="container-fluid stretch-tabs">
    <ul class="nav nav-tabs">
        <li role="presentation" ui-sref-active="active"><a ui-sref=".who">מי אנחנו</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref=".jobs">העבודות שלנו</a></li>
<!--        <li role="presentation" ui-sref-active="active"><a ui-sref=".contact">צור קשר</a></li>-->
    </ul>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div ui-view></div>
    </div>
    <!-- /.carousel -->
</div>
