<div class="container">
    <div class="container marketing">

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 dir="rtl" class="featurette-heading">הפרויקט <span class="text-muted"> - מדוע הוקם</span></h2>
                <p class="lead" dir="rtl" lang="he">
                    פרויקט "ידיים" קם בהשראתו ולזכרו של סבא מנחם מוזס ז"ל ששרד את התופת של אושוויץ והפליא לבנות בארץ חיים צנועים ומלאים, עם חיוך וקריצה, עם יצירתיות וכשרון אדיר, ועם רגישות מיוחדת לאדם, לחי ולסביבה.

                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block featurette-header-img" src="assets/img/menachem.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">
        
        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h2 dir="rtl" class="featurette-heading">מי <span class="text-muted">המתנדבים</span></h2>
                <p class="lead" dir="rtl" lang="he">
                    המכנה המשותף לכל המתנדבים הוא ידיים טובות וקצת ניסון טכני. המתנדבים הם אנשים רגילים מכל המקצועות (הייטקיסטים, מורים, כבאים, רואי חשבון, סטודנטים, אנשי עסקים, נגרים, ועוד) שנהנים לעבוד עם הידיים ולתת לחוש הטכני ביטוי.
                </p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" src="assets/img/volunteer.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 dir="rtl" class="featurette-heading"><span class="text-muted" lang="he">איך</span> זה עובד?</h2>
                <p class="lead" lang="he" dir="rtl">
                    אנחנו עובדים מול גורמי רווחה שונים על מנת לאתר אנשים שגרים בדירות שזקוקות לשיפוץ משמעותי ובתנאים קשים. לפעמים זוג קשישים, לפעמים אדם נכה, ולפעמים משפחה קשת יום. לאחר מכן אנחנו מגיעים לביקור בדירה כדי לבדוק מהם הצרכים ולהכין תוכנית עבודה, רשימת חומרים נדרשים וכו'. כל התהליך מתבצע ברגישות גבוהה לצנעת הפרט ולכבודם של בעלי הבית, ובשיתוף מלא איתם. כל דירה כזאת "משודכת" לצוות של כ 5-6 מתנדבים מהאזור שקובע לעצמו תאריך לשיפוץ. השאיפה היא שבכל צוות יהיו חברים קבועים שיעבדו ביחד אחת למספר חודשים.

                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block featurette-header-img-large" src="assets/img/workflow.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h2 dir="rtl" class="featurette-heading"><span dir="rtl" class="text-muted">השיפוץ</span>:</h2>
                <p class="lead" dir="rtl" lang="he">
                    אנחנו עושים שיפוצים "רכים": תיקוני טיח, צביעה, התקנת מדפים, מאווררים, קירות גבס, תיקוני מנעולים, קרמיקה, תריסים, רהיטים וכו'. תאורה, ברזים, חידוש אמבטיה ועוד. השיפות מתחיל ונגמר באותו יום, בתוך מספר שעות. הנסיון שהצטבר מלמד שבתכנון חכם, בעבודת צוות טובה ועם קצת יצירתיות ניתן להספיק המון ולשדרג בצורה משמעותית ביותר את תנאי המחייה בבית. בשיפוץ ניתן דגש על אסתטיקה, אווירה נעימה ונוחות בבית. בחלק מהמקרים אנחנו אפילו מביאים אתנו תמונות יפות שבעלי הבית יכולים לבחור מתוכן ולתלות על הקיר. התוצאות של העבודה בדר"כ מרשימות ומרגשות מאוד את בעלי הבית ועוד יותר את צוות המתנדבים...
                </p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" src="assets/img/renovation.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading" dir="rtl">מאיפה <span class="text-muted" dir="rtl" lang="he">הכסף?</span></h2>
                <p class="lead" lang="he" dir="rtl">
                    מתרומות של אנשים טובים, כמובן. עלות שיפוץ דירה נעה בין 600 ל- 200 שקלים. הכסף מיועד לחומרי הבנייה בלבד, שנקנים במחירי עלות מעסקים שנרתמו לטובת הפרויקט. את כלי העבודה המתנדבים מביאים איתם מהבית.
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block featurette-header-img-large" src="assets/img/donation.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">


        <div class="row featurette">
            <img src="assets/img/joinUs.jpg" img class="featurette-image img-responsive center-block">
        </div>
        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->


        <!-- FOOTER -->
        <footer>
<!--            <p class="pull-right"><a href="">חזרה לראש הדף</a></p>-->
            <p>&copy; פרויקט ידיים &middot;
                <a href="#"></a> &middot;
                <a href="#"></a>
            </p>
        </footer>

    </div>
</div>
