<md-content layout-padding>

    <div layout="column" layout-align="center center" ng-show="!isLoggedIn">
        <form name="ChatLoginForm" ng-submit="chatLogin()" flex novalidate class="md-whiteframe-5dp"
              style="padding: 20px;">
            <md-input-container class="md-block">
                <label>Username</label>
                <input name="username" type="text" ng-model="login.user" required/>
                <div ng-messages="ChatLoginForm.username.$error">
                    <div ng-message="required">
                        This is required
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Password</label>
                <input name="password" type="password" ng-model="login.password"/>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Chat Room</label>
                <input name="room" type="text" ng-model="room"/>
            </md-input-container>
            <div layout="column" layout-align="center center">
                <md-button type="submit" layout-align="end center" class="md-accent md-raised" style="color: white;">
                    Login
                </md-button>
            </div>
        </form>
    </div>

    <div layout="column" ng-show="isLoggedIn">
        <h1>Room: {{ room | capitalize }}</h1>
        <md-list class="chat-message-list">
            <md-list-item dir="{{ message.dir }}" ng-repeat="message in history" class="chat-message-wrapper">
                <div class="md-list-item-text chat-message-text {{ message.dir }}" ng-class="message.class" layout="column">
                    <div flex><span class="chat-timestamp">{{ message.timestamp }}</span><span class="chat-message-user">{{ message.user }}: </span><span class="chat-message-content">{{ message.content }}</span></div>
                </div>
            </md-list-item>
        </md-list>
        <md-divider class="chat-divider"></md-divider>
        <div layout="row" flex="100" style="position: relative; bottom: 0; width: 100%">
            <form name="ChatMessageForm" ng-submit="sendMessage()" flex novalidate>
                <md-input-container flex="100" style="width: 80%;">
                    <label>Write a message...</label>
                    <input name="message" type="text" ng-model="message.content" required/>
                    <div ng-messages="ChatMessageForm.message.$error">
                        <div ng-message="required">
                            This is required
                        </div>
                    </div>
                </md-input-container>
                <md-button type="submit" layout-align="end center" class="md-accent">Send</md-button>
            </form>
        </div>
    </div>

</md-content>
<!--
<md-toolbar class="md-medium-tall" style="position: relative; bottom: 0;">
    <div layout="row" layout-align="center center" flex>
        <span>FOOTER</span>
    </div>
</md-toolbar>
-->
