<md-content layout-padding>
    <md-list>
        <md-list-item ng-repeat="message in history">
            <div class="md-list-item-text" layout="column">
                <h4>{{ message.user }}: {{ message.content }}</h4>
            </div>
        </md-list-item>
    </md-list>

    <div layout="row" flex="100" style="position: fixed; bottom: 88px; width: 100%">
        <form name="ChatMessageForm" ng-submit="sendMessage()" flex novalidate>
            <md-input-container flex="100" style="width: 80%;">
                <label>Write a message...</label>
                <input name="search" type="text" ng-model="message.content" />
            </md-input-container>
            <md-button type="submit" layout-align="end center" class="md-accent">Send</md-button>
        </form>
    </div>


</md-content>
<md-toolbar class="md-medium-tall" style="position: fixed; bottom: 0;">
    <div layout="row" layout-align="center center" flex>
        <span>FOOTER</span>
    </div>
</md-toolbar>
