<div layout="row" ng-controller="DashboardController">
    <md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="true">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>Jhon Jhonson</span>
                <!-- fill up the space between left and right area -->
                <span flex></span>
            </div>
        </md-toolbar>
        <div layout="column" layout-align="center center">
            <div class="md-button">
                asdad
            </div>
            <div>
                <md-button>CLICK ME</md-button>
            </div>
            <div>
                <md-button>CLICK ME</md-button>
            </div>
            <div>
                <md-button>CLICK ME</md-button>
            </div>
            <div>
                <md-button>CLICK ME</md-button>
            </div>
            <div>
                <md-button>CLICK ME</md-button>
            </div>
        </div>
    </md-sidenav>
</div>
