<md-content flex-gt-sm="40" flex-offset-gt-sm="30" layout-padding>
    <div layout="column" layout-align="center center">
        <h1>Complete Sign-up Process</h1>
    </div>
    <form name="OAuthSignupForm" ng-submit="submit()" layout="column" novalidate>
        <md-input-container class="md-icon-float md-block rtl">
            <label>מס' טלפון</label>
            <input type="text" ng-pattern="/^(0[2-9]\d{7,8})$/" name="phone" ng-model="info.phone" minlength="9" maxlength="10" required />
            <md-icon class="material-icons">phone</md-icon>
            <div ng-messages="SignupForm.phone.$error">
                <div ng-message="required">
                    שדה חובה
                </div>
                <div ng-message="minlength">
                    דרושים לפחות 9 ספרות
                </div>
                <div ng-message="pattern">
                    מספר אינו חוקי
                </div>
            </div>
        </md-input-container>
        <div>
            <md-button type="submit" class="md-accent md-raised white">הירשם</md-button>
        </div>
    </form>
</md-content>
