<div md-whiteframe="2" class="rounded-top">
	<md-toolbar layout="row" layout-align="none center" class="md-primary md-hue-1 dashboard-top-rounded-toolbar">
		<span flex></span>
		<div class="md-toolbar-tools" dir="rtl">
			<span translate>SCHEDULE</span>
		</div>
	</md-toolbar>
	<div layout="column" layout-align="center center">
		<div>תצוגות לוח שנה</div>
		<div layout="row">
			<md-button ng-click="changeView('agendaWeek', 'renoCalendar')" class="md-primary">שבועי</md-button>
			<md-button ng-click="changeView('agendaDay', 'renoCalendar')" class="md-primary">יומי</md-button>
			<md-button ng-click="changeView('month', 'renoCalendar')" class="md-primary">חודשי</md-button>
		</div>
	</div>
	<div calendar="renoCalendar" ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>
</div>
