<div class="dashboard-wrapper" ng-controller="DashboardController" layout="column">

	<!--Top of page-->
<!--	First Column
	<dashboard-toolbar></dashboard-toolbar>-->

	<!--Left side of page-->
	<!--Second Column-->
	<div layout="row" class="dashboard-layout">
		<!--First row-->
		<!--Main part of Page - Content-->
		<md-toolbar class="md-primary dashboard-content-wrapper">
			<div class="dashboard-content dashboard-top-rounded-toolbar" style="position:relative;">
				<ui-view class="dashboard-view-slide-top"></ui-view>
			</div>
		</md-toolbar>

		<!--Second row-->
		<md-toolbar layout="column" class="dashboard-navbar-wrapper">
			<dashboard-sidenav-admin ng-show="user.role === ROLES.ADMIN"></dashboard-sidenav-admin>
		</md-toolbar>
	</div>
</div>
