<div class="dashboard-wrapper" ng-controller="DashboardController" layout="column">

	<!--Top of page-->
	<!--	First Column
	<dashboard-toolbar></dashboard-toolbar>-->

	<!--Left side of page-->
	<!--Second Column-->
	<div layout="row" class="dashboard-layout">
		<!--First row-->
		<!--Main part of Page - Content-->
		<div class="md-primary dashboard-content-wrapper" flex="100" flex-md="80" flex-lg="85" flex-gt-lg="90">
			<div class="dashboard-content dashboard-top-rounded-toolbar" style="position:relative;">
				<ui-view class="dashboard-view-slide-top"></ui-view>
			</div>
		</div>

		<!--A Menu button to Replace Admin-Sidenav when in small or x-small screen size-->
<!--
		<div hide-md hide-lg hide-xl>
			<md-menu md-position-mode="target-right target">
-->
				<!-- Trigger element is a md-button with an icon -->
<!--
				<md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
					<i class="material-icons">menu</i>
				</md-button>
				<md-menu-content>
					<md-menu-item layout="column" layout-align="center center" style="height:100%; overflow: hidden;">
						<table style="width:100%">
							<tr>
								<md-button class="sidenav-btn md-raised" ui-sref="dashboard.main-page" layout="row" layout-align="center center"><i class="material-icons">dashboard</i><span flex></span>
									<span translate>DASHBOARD</span></md-button>
							</tr>
							<tr>
								<md-button class="sidenav-btn md-raised" ui-sref="dashboard.renovations" layout="row" layout-align="center center"><i class="material-icons">build</i><span flex></span> <span translate>{{'PLANNED_RENOVATIONS'}}</span></md-button>
							</tr>
							<tr>
								<md-button class="sidenav-btn md-raised" ui-sref="dashboard.calendar" layout="row" layout-align="center center"><i class="material-icons">today</i><span flex></span> <span translate>{{'SCHEDULE'}}</span></md-button>
							</tr>

							<tr>
								<md-button class="sidenav-btn md-raised" ui-sref="dashboard.statistics" layout="row" layout-align="center center"><i class="material-icons">equalizer</i><span flex></span>
									<span translate>{{'STATISTICS'}}</span></md-button>
							</tr>
							<tr>
								<md-button class="sidenav-btn md-raised" ui-sref="dashboard.all-teams" layout="row" layout-align="center center"><i class="material-icons">recent_actors</i><span flex></span> <span translate>{{'TEAM'}}</span></md-button>
							</tr>
							<tr>
								<md-button class="sidenav-btn md-raised" ui-sref="dashboard.join-requests" layout="row" layout-align="center center"><i class="material-icons">person_add</i><span flex></span>
									<span translate>{{'JOIN_REQUESTS'}}</span></md-button>
							</tr>
						</table>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
-->

		<!--Second row-->
		<md-toolbar layout="column" class="dashboard-navbar-wrapper" hide-xs hide-sm flex-md="20" flex-lg="15" flex-gt-lg="10">
			<dashboard-sidenav-admin ng-show="user.role === ROLES.ADMIN"></dashboard-sidenav-admin>
		</md-toolbar>
	</div>
</div>
