<div layout="row" layout-align="end">
    <!-- Selected User Details -->
    <div class="toggle-slide-right toggle-fade list-border white-background dashboard-height" flex-gt-sm="50" flex hide-sm hide-xs
         ng-show="selectedUser" md-whiteframe="2">
        <md-toolbar layout="row" class="md-hue-1 rtl rounded-toolbar">
            <div class="md-toolbar-tools">
                <span translate>{{'USER_DETAILS'}}</span>
            </div>
        </md-toolbar>
        <md-content class="signup-info rtl" layout="row" layout-padding>
            <user-details user="selectedUser"></user-details>
            <span flex></span>
            <div layout="column">
                <div class="signup-actions" layout="row" layout-align="center center">
                    <md-button class="md-raised approve-btn" ng-click="approveUser(selectedUser, selectedRole)">
                        <span translate>{{'APPROVE_USER'}}</span>
                    </md-button>
                    <md-button class="md-warn md-raised" ng-click="deleteUser(selectedUser)">
                        <span translate>{{'DELETE_USER'}}</span>
                    </md-button>
                </div>
                <!-- Role -->
                <div class="signup-role" layout="row" flex>
                    <md-input-container class="md-block rtl" flex="60">
                        <label translate>{{'JOB'}}</label>
                        <md-select name="role" ng-model="selectedRole" required>
                            <md-option ng-value="role" ng-repeat="role in roles">
                                {{ role | translateRole }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </md-content>
    </div>
    <!-- Join Requests List -->
    <div flex-gt-sm="45" flex-offset-gt-sm="5" flex class="list-border white-background dashboard-height" md-whiteframe="2">
        <md-toolbar layout="row" class="md-hue-1 rtl rounded-toolbar">
            <div class="md-toolbar-tools">
                <span translate>{{'JOIN_REQUESTS'}}</span>
                <span flex></span>
                <md-input-container class="md-icon-float rtl list-search-input">
                    <input aria-label="search join requests" type="text" name="search" ng-model="search"/>
                    <md-icon class="material-icons">search</md-icon>
                </md-input-container>
            </div>
        </md-toolbar>
        <md-content>
            <md-list class="md-dense list-signups" flex>
                <md-list-item class="md-3-line rtl list-slide-right" ng-class="{'selected': isSelected(user)}"
                              ng-repeat="user in signups | filter: search"
                              ng-click="showUserDetails($event, user)">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ user.name }}</h3>
                        <h4>{{ user.email }}</h4>
                        <p>{{ user.phone }}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>