<div layout="row" layout-align="end">
    <div class="toggle-slide-right toggle-fade list-border dashboard-height" flex-gt-sm="50" flex hide-sm hide-xs ng-show="selectedUser">
        <md-toolbar layout="row" class="md-hue-1 rtl rounded-toolbar">
            <div class="md-toolbar-tools">
                <span translate>USER_DETAILS</span>
            </div>
        </md-toolbar>
        <md-content class="signup-info rtl" layout="row" layout-padding>
            <div layout="column" class="signup-info-main">
                <div class="title"> {{ selectedUser.name }} {{'NAME'}}</div>
                <div class=""> {{ selectedUser.email }} {{'EMAIL'}}</div>
                <div>{{ selectedUser.phone }} {{'PHONE'}}</div>
                <div>{{ selectedUser.signupDate }} {{'REGISTER_DATE'}}</div>
            </div>
            <span flex></span>
            <div class="signup-actions" layout="row" layout-align="center center">
                <md-button class="md-raised approve-btn" ng-click="approveUser(selectedUser)" translate>
                    APPROVE_USER
                </md-button>
                <md-button class="md-warn md-raised" ng-click="deleteUser(selectedUser)" translate>
                    DELETE_USER
                </md-button>
            </div>
        </md-content>
    </div>
    <div flex-gt-sm="45" flex-offset-gt-sm="5" flex class="list-border dashboard-height">
        <md-toolbar layout="row" class="md-hue-1 rtl rounded-toolbar">
            <div class="md-toolbar-tools">
                <span translate>JOIN_REQUESTS</span>
                <span flex></span>
                <md-input-container class="md-icon-float rtl list-search-input">
                    <input type="text" name="search" ng-model="search"/>
                    <md-icon class="material-icons">search</md-icon>
                </md-input-container>
            </div>
        </md-toolbar>
        <md-content>
            <md-list class="md-dense list-signups" flex>
                <md-list-item class="md-3-line rtl list-slide-right" ng-class="{'selected': isSelected(user)}"
                              ng-repeat="user in signups | filter: search"
                              ng-click="showUserDetails($event, user)">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ user.name }}</h3>
                        <h4>{{ user.email }}</h4>
                        <p>{{ user.phone }}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>