<md-button class="md-raised md-primary" ng-click="enableEditLayout()" ng-show="!editLayoutEnabled"><span translate> {{'CUSTOMIZE'}}</span>
</md-button>
<md-button class="md-raised md-accent" ng-click="disableEditLayout()" ng-show="editLayoutEnabled"><span translate> {{'FINISH'}}</span>
</md-button>
<md-menu ng-hide="!editLayoutEnabled">
    <md-button ng-click="$mdOpenMenu($event)" aria-label="Open sample menu" translate="WINDOWS_TO_BE_ADDES"
               translate="{['WINDOWS_TO_BE_ADDES'}}"> חלונות להוספה
    </md-button>
    <md-menu-content>
        <md-menu-item layout="column" layout-align="center center" style="height:100%; overflow: hidden">
            <table style="width:100%">
                <tr>
                    <a class="sidenav-btn">
                        <md-checkbox ng-model="widgets[0].active" aria-label="Tasks Widget"></md-checkbox>
                        <span flex></span> <span translate="{{'TASKS'}}"> </span> </a>
                </tr>
                <tr>
                    <a class="sidenav-btn">
                        <md-checkbox ng-model="widgets[1].active" aria-label="Renovations Widget"></md-checkbox>
                        <span flex></span> <span translate="{{'PLANNED_RENOVATIONS'}}"></span>

                    </a>
                </tr>
                <tr>
                    <a class="sidenav-btn">
                        <md-checkbox ng-model="widgets[2].active" aria-label="Toolbox Widget"></md-checkbox>
                        <span flex></span> <span translate="{{'TOOL_BOX'}}"></span>

                    </a>
                </tr>
                <tr>
                    <a class="sidenav-btn">
                        <md-checkbox ng-model="widgets[3].active" aria-label="Team Widget"></md-checkbox>
                        <span flex></span> <span translate="{{'MY_TEAM'}}"></span>

                    </a>
                </tr>
                <tr>
                    <a class="sidenav-btn">
                        <md-checkbox ng-model="widgets[4].active" aria-label="Calendar Widget"></md-checkbox>
                        <span flex></span> <span translate="{{'SCHEDULE'}}"></span>

                    </a>
                </tr>
                <tr>
                    <a class="sidenav-btn">
                        <md-checkbox ng-model="widgets[5].active" aria-label="Profile Widget"></md-checkbox>
                        <span flex></span> <span translate="{{'USER_PROFILE'}}"></span>

                    </a>
                </tr>
                <tr>
                    <a class="sidenav-btn">
                        <md-checkbox ng-model="widgets[6].active" aria-label="Chat Widget"></md-checkbox>
                        <span flex></span><span translate="{{'CHAT'}}"></span>

                    </a>
                </tr>
            </table>
        </md-menu-item>

    </md-menu-content>
</md-menu>

<!--Checking Mobile Mode for Debugging \/ -->
<!--
<md-button ng-click="toggleIsMobile()">Is Mobile: {{gridsterOpts.isMobile}}</md-button>
<md-button ng-click="toggleMobileModeEnabled()">Mobile Mode Enabled: {{gridsterOpts.mobileModeEnabled}}</md-button>
-->
<!--Checking Mobile Mode for Debugging /\ -->



<div gridster="gridsterOpts">
    <li gridster-item="item" ng-model="widgets[0]" class="grid-item" ng-if="widgets[0].active">
        <div ng-include="'modules/dashboard/templates/tasks.html'"></div>
    </li>
    <li gridster-item="item" ng-model="widgets[1]" class="grid-item" ng-if="widgets[1].active">
        <div ng-include="'modules/dashboard/templates/renovations.html'"></div>
    </li>
    <li gridster-item="item" ng-model="widgets[2]" class="grid-item" ng-if="widgets[2].active">
        <div ng-include="'modules/dashboard/templates/toolbox.html'"></div>
    </li>
    <li gridster-item="item" ng-model="widgets[3]" class="grid-item" ng-if="widgets[3].active">
        <div ng-include="'modules/dashboard/templates/team.html'"></div>
    </li>
    <li gridster-item="item" ng-model="widgets[4]" class="grid-item" ng-if="widgets[4].active">
        <div ng-include="'modules/dashboard/templates/calendar.html'"></div>
    </li>
    <li gridster-item="item" ng-model="widgets[5]" class="grid-item" ng-if="widgets[5].active">
        <div ng-include="'modules/dashboard/templates/userProfile.html'"></div>
    </li>
        <li gridster-item="item" ng-model="widgets[6]" class="grid-item" ng-if="widgets[6].active">
        <chat user="me" rooms="rooms"></chat>
    </li>
</div>
