<div md-whiteframe="2" class="dashboard-top-rounded-toolbar">
	<md-toolbar layout="row" layout-align="none center" class="md-hue-1 dashboard-top-rounded-toolbar">
		<md-button ng-click="addRenovation($event)" class="md-fab md-primary md-mini" layout="row" layout-align="center center">
			<i class="material-icons">add_circle</i>
		</md-button>
		<span flex></span>
		<div class="md-toolbar-tools" dir="rtl">
			<span translate>PLANNED_RENOVATIONS</span>
		</div>
	</md-toolbar>
	<md-content>
		<md-list flex>
			<md-list-item class="md-3-line" ng-repeat="renovation in renovations" ui-sref="dashboard.renovation({city: renovation.addr.city, street: renovation.addr.street, num: renovation.addr.num})" ng-click="">
				<div class="md-list-item-text hebrew-text renovation-list-text" layout="column" dir="rtl">
					<div>
						<div>{{ renovation.addr.street }} {{renovation.addr.num}}, {{renovation.addr.city}}</div>
						<p>{{ myTeam.name }}</p>
					</div>
					<p>{{ renovation.date | date:'MM/dd/yyyy'}}</p>
				</div>

			</md-list-item>
		</md-list>
	</md-content>
</div>
