<md-toolbar layout="row" layout-align="none center" class="md-primary dashboard-top-rounded-toolbar" dir="rtl">
    <span flex></span>
    <div class="md-toolbar-tools">
        <span>פרופיל משתמש</span>
    </div>
</md-toolbar>

<md-card class="profile-page">
    <div layout="column" layout-align="center center">


        <div layout="row" layout-align="center center">
            <div class="profile-content-item" layout="column" layout-align="center center">
                <div layout="column" layout-align="center center" class="padding">
                    <span class="md-headline">{{getMemberName(myID)}}</span>
                    <span class="md-subhead">{{getMemberType(myID)}}</span>
                </div>
                <p>{{getMemberAddress(myID)}}</p>
                <p>טלפון: {{getMemberPhone(myID)}}</p>
                <p>קצת עליי: {{getMemberAboutMe(myID)}}</p>
                <p>מס' שיפוצים בהם השתתפתי: {{getMemberTotalRenovations(myID)}}</p>
                <p>תאריך הצטרפות: {{getMemberJoinDate(myID) | date}}</p>
            </div>
            <div class="profile-pic profile-content-item">
                <img src="{{getMemberAvatar(myID)}}" alt="Avatar" height="100%" width="100%" />
            </div>
        </div>
    </div>
</md-card>

