<md-toolbar layout="row" layout-align="none center" class="md-primary dashboard-top-rounded-toolbar" dir="rtl">
    <span flex></span>
    <div class="md-toolbar-tools">
        <span>פרופיל משתמש</span>
    </div>
</md-toolbar>

<md-card class="profile-page">
    <div layout="column" layout-align="center center">


        <div layout="row" layout-align="center center">
            <div class="profile-content-item" layout="column" layout-align="center center" dir="rtl">
                <div layout="column" layout-align="center center" class="padding">
                    <span class="md-headline">{{myUser.name}}</span>
                    <span class="md-subhead">{{myUser.role}}</span>
                </div>
                <p>{{myUser.address}}</p>
                <p>טלפון: {{myUser.phone}}</p>
                <p>קצת עליי: {{myUser.about_me}}</p>
                <p>מס' שיפוצים בהם השתתפתי: {{myUser.total_renovations}}</p>
                <p>תאריך הצטרפות: {{myUser.joined_date | date}}</p>
            </div>
            <div class="profile-pic profile-content-item">
                <img src="{{myUser.avatar}}" alt="Avatar" height="100%" width="100%" />
            </div>
        </div>
    </div>
</md-card>

