<md-toolbar layout="row" layout-align="none center" class="md-primary dashboard-top-rounded-toolbar" dir="rtl">
    <span flex></span>
    <div class="md-toolbar-tools">
        <span>פרופיל משתמש</span>
    </div>
</md-toolbar>

<md-card class="profile-page">
    <div layout="column" layout-align="center center">


        <div layout="row" layout-align="center center">
            <div class="profile-content-item" layout="column" layout-align="center center" dir="rtl">
                <div layout="column" layout-align="center center" class="padding">
                    <span class="md-headline">{{myUser.name}}</span>
                    <span class="md-subhead">{{myUser.role}}</span>
                </div>
                <p translate> {{myUser._id}} {{'USER_ID'}}</p>
                <p translate>{{myUser.address}} {{'ADDRESS'}}</p>
                <p translate> {{myUser.email}} {{'EMAIL'}}</p>
                <p translate> {{myUser.phone}} {{'PHONE'}}</p>
                <p translate> {{myUser.about_me}} {{'ABOUT_ME'}}</p>
                <p translate> {{myUser.total_renovations}} {{'RENOVATION_NUMBER_I_AM_IN'}}</p>
                <p translate> {{myUser.joined_date | date}} {{'REGISTER_DATE'}}</p>
            </div>
            <div class="profile-pic profile-content-item">
                <img src="{{myUser.avatar}}" alt="Avatar" height="100%" width="100%" />
            </div>
        </div>
    </div>
</md-card>

