<div>
    <md-sidenav md-component-id="left" class="md-primary md-sidenav-left dashboard-sidenav" md-is-locked-open="true">
        <md-toolbar class="">
            <div class="md-toolbar-tools">
                <span translate="{{'ADMIN_PANEL'}}"></span>
                <span flex></span>
            </div>
        </md-toolbar>
        <div layout="column" layout-align="center center" class="dashboard-sidenav-content">
            <table style="width:100%">
				<tr>
                    <md-button class="sidenav-btn" ui-sref="dashboard.main-page" layout="row"
                               layout-align="center center"><i class="material-icons">dashboard</i><span flex></span>
                        <span translate>DASHBOARD</span></md-button>
                </tr>
                <tr>
                    <md-button class="sidenav-btn" ui-sref="dashboard.renovations" layout="row"
                               layout-align="center center"><i class="material-icons">build</i><span flex></span> <span
                            translate>{{'PLANNED_RENOVATIONS'}}</span></md-button>
                </tr>
                <tr>
                    <md-button class="sidenav-btn" ui-sref="dashboard.calendar" layout="row"
                               layout-align="center center"><i class="material-icons">today</i><span flex></span> <span
                            translate>{{'SCHEDULE'}}</span></md-button>
                </tr>
				<tr>
                    <md-button class="sidenav-btn" ui-sref="dashboard.userProfile" layout="row"
                               layout-align="center center"><i class="material-icons">account_circle</i><span
                            flex></span> <span translate>{{'USER_PROFILE'}}</span></md-button>
                </tr>
				<tr>
                    <md-button class="sidenav-btn" ui-sref=".chat" layout="row" layout-align="center center"><i
                            class="material-icons">chat</i><span flex></span> <span translate>{{'CHAT'}}</span>
                    </md-button>
                </tr>
                <tr>
                    <md-button class="sidenav-btn" ui-sref="dashboard.statistics" layout="row"
                               layout-align="center center"><i class="material-icons">equalizer</i><span flex></span>
                        <span translate>{{'STATISTICS'}}</span></md-button>
                </tr>
                <tr>
                    <md-button class="sidenav-btn" ui-sref="dashboard.all-teams" layout="row"
                               layout-align="center center"><i class="material-icons">recent_actors</i><span
                            flex></span> <span translate>{{'TEAM'}}</span></md-button>
                </tr>
                <tr>
                    <md-button class="sidenav-btn" ui-sref="dashboard.join-requests" layout="row"
                               layout-align="center center"><i class="material-icons">person_add</i><span flex></span>
                        <span translate>{{'JOIN_REQUESTS'}}</span></md-button>
                </tr>
            </table>
        </div>
    </md-sidenav>
</div>
