<div>
    <md-sidenav md-component-id="left" class="md-sidenav-left dashboard-sidenav" md-is-locked-open="true">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>עמודי משתמש</span>
                <span flex></span>
            </div>
        </md-toolbar>
        <div layout="column" layout-align="center center" class="dashboard-sidenav-content">
            <table style="width:100%">
                <tr>
                    <md-button class="sidenav-btn" ui-sref="dashboard.renovations" layout="row" layout-align="center center"><i class="material-icons">build</i><span flex></span> השיפוץ הנוכחי </md-button>
                </tr>
				<tr>
                    <md-button class="sidenav-btn" ui-sref="dashboard.userProfile" layout="row" layout-align="center center"><i class="material-icons">account_circle</i><span flex></span> פרופיל משתמש </md-button>
                </tr>
				<tr>
                    <md-button class="sidenav-btn" ui-sref=".chat" layout="row" layout-align="center center"><i class="material-icons">chat</i><span flex></span> צ'אט </md-button>
                </tr>
            </table>
        </div>
    </md-sidenav>
</div>
