<div class="homepage-wrapper">

    <div class="homepage-content"
         md-whiteframe="1"
         layout="column"
         layout-align="center center"
         flex flex-gt-sm="90"
         flex-offset-gt-sm="5"
         flex-gt-md="80"
         flex-offset-gt-md="10">

        <div class="homepage-banner">
            <img ng-src="assets/img/home/hands.jpg" style="width: 100%">
        </div>
        <!--PHOTO SLIDER-->

        <div style="width: 100%" layout="column" layout-gt-sm="row">
            <div flex="25%" layout="column" layout-align="center center" style="max-width: 80%; margin: auto; padding: 0 10px;">
                <a ui-sref="home">
                    <img ng-src="assets/icons/btn_donate.png" style="max-width: 100%">
                </a>
                <a ui-sref="status">
                    <img ng-src="assets/icons/btn_refer.png" style="max-width: 100%">
                </a>
            </div>
            <photo-slider-home album="user@1231.com"></photo-slider-home>
            <div flex="25%" layout="column" layout-align="center center" style="max-width: 80%; margin: auto; padding: 0 10px;">
                <a ui-sref="login">
                    <img ng-src="assets/icons/btn_login.png" style="max-width: 100%">
                </a>
                <a ui-sref="signup">
                    <img ng-src="assets/icons/btn_join.png" style="max-width: 100%">
                </a>
            </div>
        </div>

        <!--ORGANIZATION ADS-->
        <div>
            <org-ads></org-ads>
        </div>
        <!--STATISTICS-->
        <div>
            <statistics></statistics>
        </div>
        <!--THE TEAM-->
        <div class="organization-team-wrapper">
            <team></team>
        </div>

        <div md-whiteframe="2" class="homepage-footer">
            <!-- Referral Status -->
            <!--<div class="status-container rtl" layout="column" layout-align="center center" layout-padding ng-controller="StatusController">-->
            <!--<div class="status-title">פניות לשיפוצים</div>-->
            <!--<div class="status-indicator" ng-class="active ? 'active' : 'not-active'"></div>-->
            <!--<div class="status-message">{{ message }}</div>-->
            <!--<md-button class="md-primary md-raised btn-referral" href="/assets/referral-form.docx" target="_self">טופס פנייה</md-button>-->

            <!-- TODO Replace with Call-To-Action banner -->
            <md-button class="md-primary md-raised btn-referral" ui-sref="status">הפניות לשיפוצים</md-button>
        </div>

        <!--DONATE-->
        <div class="donate-info">
            <paypal-button></paypal-button>
        </div>
    </div>

    <!-- Admin Control Panel -->
    <div admin-actions>
        <!--<md-button ng-click="updateStatusDialog($event)">עדכן סטטוס הפניות</md-button>-->
        <md-button ui-sref="home-panel">עריכת תוכן דף הבית</md-button>
    </div>

    <!--goto home panel-->
    <!--<md-button ui-sref="home-panel">home-panel</md-button>-->

</div>
