<md-content>

    <div layout="column" layout-align="center center" layout-padding>

        <!--IMAGE SLIDE SHOW-->
        <div>
            <img ng-src="assets/img/home/hands.jpg">
        </div>

        <!--PHOTO SLIDER-->
        <div>
            <photo-slider></photo-slider>
        </div>

        <!--ORGANIZATION ADS-->
        <div>
            <org-ads></org-ads>
        </div>
        <!--STATISTICS-->
        <div>
            <statistics></statistics>
        </div>

        <!--DONATE-->
        <paypal-button></paypal-button>

        <!--goto home panel-->
        <md-button ui-sref="home-panel">home-panel</md-button>

    </div>

</md-content>
