<md-content class="rtl" layout-padding="">

    <div>

        <div layout="row" layout-align="start center">

            <h4 style="padding: 32px">תאריך התחלה</h4>
            <form name="startDateForm">
                <md-datepicker name="startDateField"
                               ng-model="startDate"
                               md-placeholder="Enter date"
                               required>

                </md-datepicker>
                <div class="stat-dp-validation-messages"
                     ng-messages="startDateForm.dateField.$error">
                    <div ng-message="valid">The entered value is not a date!</div>
                    <div ng-message="required">This date is required!</div>
                </div>
            </form>

            <h4 style="padding: 32px">תאריך סיום</h4>
            <form name="endDateForm">
                <md-datepicker name="endDateField"
                               ng-model="endDate"
                               md-placeholder="Enter date"
                               required>

                </md-datepicker>
                <div class="stat-dp-validation-messages"
                     ng-messages="endDateForm.dateField.$error">
                    <div ng-message="valid">The entered value is not a date!</div>
                    <div ng-message="required">This date is required!</div>
                </div>
            </form>

        </div>
        <md-button class="md-raised md-primary" ng-click="submit()">קבל סטטיסטיקות</md-button>

        <div>
            <h3>מספר מתנדבים</h3>
            <h4>{{volunteersCount}}</h4>
        </div>
        <div>
            <h3>מספר מתנדבים לשיפוצים</h3>
            <h4>{{renovationsVolunteersNumber}}</h4>
        </div>
        <div>
            <h3>עלות השיפוצים</h3>
            <h4>{{renovationsCost}}</h4>
        </div>
        <div>
            <h3>שעות שיפוץ</h3>
            <h4>{{renovationsVolunteeringHours}}</h4>
        </div>
        <div>
            <h3>מספר שיפוצים</h3>
            <h4>{{renovations}}</h4>
        </div>
    </div>


</md-content>


