<div>
    <nav class="navbar navbar-custom navbar-static-top">
        <div class="navbar-top-line"></div>
        <div class="container">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#/Home" class="navTab">מי אנחנו</a></li>
                <li role="presentation"><a href="#" class="navTab">העבודות שעשינו</a></li>
                <li role="presentation"><a href="#" class="navTab">המתנדבים שלנו</a></li>
            </ul>
        </div>
    </nav>
    <div class="pageBody" ng-view>
        <img src="assets/img/aboutPic2.jpg" class="img-rounded aboutTopPic">
        <div>
            <span class="informationBox">
                <img src="assets/img/aboutText.jpg">
            </span>
        </div>
    </div>

</div>
