<main class="container">
    <div class="row">
        <div class="col-md-8">
            <uib-carousel active="active" interval="carouselInterval">
                <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" class="slide">
                    <img ng-src="{{ slide.img }}">
                </uib-slide>
            </uib-carousel>
        </div>
        <aside class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" dir="rtl">מכתבי תודה</div>
                <div class="panel-body">
                    <p dir="rtl">
                        3/2/2016
                        <br/> עבור: ליאור וכל הצוות המסור של עמותת "ידיים".
                        <br/>
                        <br/>שנים אני וילדי בתנאים תת-אנושיים בשל מצבי הכספי והבריאותי בכי רע. לאחר שבאת וראית את מצב הדירה, שנסתה את מותנך ואת כספך והכנסת לחיינו אור וחיים - תרתי משמע. סוף סוף יש לי כיור ושיש במטבח, שירותים תקינים, אור בחדרים, חלונות תקינים, קירות צבועים ועוד אין סוף תיקונים וכל זה בפנים מאירות ויחס חם ואוהב. תודה מקרב לב. למרות שכל מילה לא תתאר את גודל ההוקרה שמגיעה לך ולצוות שלך.
                    </p>
                    <hr/>
                    <p dir="rtl">
                        3/2/2016
                        <br/> לכבוד עמותת ידיים!

                        <br/> רציתי לומר תודה!

                        <br/> תודה על האכפתיות, על הרצון הטוב ועל הלב הרחב. תודה על האור שהכנסתם לנו הביתה (גם באופן מילולי). תודה על המקצועיות והחשיבה על כל הפרטים הקטנים. תודה אישית לצוות המדהים שהיה אצלנו! ליאיר, לעידו, לישי, לאילן ולאיתמר. מחמם את הלב לראות אנשים כמוכם, המסירות, הרצון והמקצועיות היו מעל ומעבר.
                        <br/>
                        תודה!
                        <hr/>
                    </p>
                </div>
            </div>
        </aside>
    </div>
    <div class="row top-buffer">
        <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
            <img src="/assets/img/banner-handyman.jpg" class="img-responsive">
        </div>
        <div class="col-md-4 text-center">
            <h3 dir="rtl">הצטרף אלינו!</h3>
            <button class="btn btn-success" dir="rtl">הרשמה לאתר</button>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" dir="rtl">הודעות</div>
                <div class="panel-body" dir="rtl">
                    מסיבת פורים במתחם העמותה! בואו לשמוח איתנו!
                    <br/>
                    <hr/>
                    תמונות מהשיפוץ האחרון בירושלים:
                    *לינק אמיתי לא מזויף*
                    <br/>
                    <hr/>
                    שבוע טוב לכולם!
                </div>
            </div>
        </div>


    </div>
</main>
