<div gridster>
    <ul>
        <li gridster-item="item" ng-model="gridItems[0]" class="grid-item">
            Hello
        </li>
        <li gridster-item="item" ng-model="gridItems[1]" class="grid-item">
            My 
        </li>
        <li gridster-item="item" ng-model="gridItems[2]" class="grid-item">
            Name
        </li>
        <li gridster-item="item" ng-model="gridItems[3]" class="grid-item">
            Is
        </li>
        <li gridster-item="item" ng-model="gridItems[4]" class="grid-item">
            Dan
        </li>
        <li gridster-item="item" ng-model="gridItems[5]" class="grid-item">
            Biach!
        </li>
    </ul>
</div>
