<md-button ng-click="enableEditLayout()" ng-show="!editLayoutEnabled">Edit Layout</md-button>
<md-button ng-click="disableEditLayout()" ng-show="editLayoutEnabled">Stop Editing Layout</md-button>
<md-button ng-click="toggleIsMobile()">Is Mobile: {{gridsterOpts.isMobile}}</md-button>
<md-button ng-click="toggleMobileModeEnabled()">Mobile Mode Enabled: {{gridsterOpts.mobileModeEnabled}}</md-button>
<div gridster="gridsterOpts">
    <ul dir="rtl">
        <li gridster-item="item" ng-model="gridItems[0]" class="grid-item">
            <div ng-include="'templates/dashboard/toolbox.html'"></div>
        </li>
        <li gridster-item="item" ng-model="gridItems[1]" class="grid-item">
            <div ng-include="'templates/dashboard/team.html'"></div> 
        </li>
        <li gridster-item="item" ng-model="gridItems[2]" class="grid-item">
            <div ng-include="'templates/dashboard/calendar.html'"></div>
        </li>
        <li gridster-item="item" ng-model="gridItems[3]" class="grid-item">
            <div ng-include="'templates/dashboard/userProfile.html'"></div>
        </li>
        
    </ul>
</div>
