<div ng-cloak layout-gt-sm="row" layout="column">
    <div flex-gt-sm="50" flex>
        <md-toolbar layout="row" layout-align="none center" class="md-primary dashboard-top-rounded-toolbar" dir="rtl">
            <div class="md-toolbar-tools">
                <span>ארגז הכלים</span>
            </div>
            <span flex></span>
            <md-button class="md-icon-button md-primary md-raised" ng-click="">
                <md-icon class="material-icons">add_circle</md-icon>
            </md-button>
        </md-toolbar>
        <md-content>
            <md-list class="md-dense" dir="rtl">
                <md-list-item class="md-3-line" ng-repeat="tool in getMemberTools(myID)">
                    <span flex layout="row" layout-align="center center" class="padding">
                        <div class="md-list-item-text toolbox-list-text" layout="column" dir="rtl">
                            <h3>כלי: {{ tool.name }}</h3>
                            <h4>{{ tool.quantity }}</h4>
                            <p>{{ tool.comment }}</p>
                        </div>
                        <span layout="row" class="profile-content-item"> לא בשימוש <i class="material-icons">done</i></span>
                        </span>
                    <md-divider></md-divider>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
        </md-content>
    </div>
</div>
